body {
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
    background-color: #1A0B2E;
}



/* Nav section */


.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 24px 200px;
    border-bottom: 1px solid rgba(158, 28, 178, 0.3);
    margin: 0;

}

.name-text {
    font-weight: bolder;
    font-size: 40px;
    color: #ffff;
    margin: 0;
}

.wave-text {
    font-weight: bolder;
    background: linear-gradient(7deg, #F7E93F, #FB09B4, #9100F8);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.nav-text {
    font-size: 20px;
    display: flex;
    gap: 90px;
    color: #ffff;

}

.nav-btn,
.spotify-btn,
.subscribe-btn {
    border: none;
    color: #ffff;
    font-size: 17px;
    padding: 12px 28px;
    border-radius: 22px;
    background: linear-gradient(35deg,
            #F7E93F, #FB09B4, #9100F8);




}

/* nav section */

.banner-img {
    width: 100%;

}

.hero-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-img-container {
    position: relative;
}

.new-text {
    color: black;
    font-size: 20px;
    padding: 8px 18px;
    border-radius: 30px;
    background-color: #00FF88;
    font-weight: 500;
    position: absolute;
    top: 0;
    right: 8px;

    z-index: 10;
    box-shadow: 0px 3px 27px rgba(0, 255, 136, 0.5);

}

.circle-img {
    position: relative;
    object-fit: cover;
    z-index: 1;
}

.overlay-img {
    position: absolute;
    z-index: 2;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}

.hero {
    background-image: url(assets/hero-bg.png);
    background-size: contain;
    background-repeat: repeat no-repeat;
    background-position: center;
    width: 100%;
    padding: 120px 0;
    /* position: absolute; */
    /* padding-top: 70px; */

}

.banner-btn {


    gap: 25px;
    display: flex;
    align-items: center;
    justify-content: center;



}

.tech-text {
    font-size: 60px;
    color: #fff;
    font-weight: bolder;
    margin-bottom: 0%;
}

.easy-text {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 0%;
    margin-bottom: 20px;
}

.spotify-btn {
    display: flex;
    gap: 9px;
}

.subscribe-btn {
    background: transparent;
    border: 1px solid #00FF88;
    color: #00FF88;
    display: flex;
    gap: 9px;
}

.info-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 70px;
}


/* .about-container, */
.about-section {
    margin-bottom: 50px;
    align-items: center;
    padding-right: 190px;
    padding-left: 190px;

}

.num-container {
    border-top: 2px solid rgba(255, 255, 255, 0.18);

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
    padding-top: 60px;

}


.number {
    font-size: 40px;
    color: #00ff88;
    font-weight: bolder;


    margin-bottom: 5px;


}


.why-choose-container {
    padding: 200px 150px 200px 150px;
    background-color: #230E3D;


}

.layout-text {
    justify-items: center;
    margin-bottom: 60px;
}



.grid-text {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 30px;
    margin-top: 20px;
    padding: 0 200px;
}

.card {
    color: aliceblue;
    border-radius: 20px;
    padding: 25px;
    background: #2b0f4a;

}

.first-layout {
    grid-row: span 2;

}

.double-layout {
    grid-column: span 2;

}

.lower-layout {
    grid-column: span 2;
}

/* featured section */

.featured-section {
    padding: 120px 200px 120px 200px;

}


.video-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

.video-title {
    padding: 24px;
    border-radius: 0px 0px 16px 16px;
    background-color: #250D44;
}

.video-image {
    width: 100%;
    height: 220px;
    border-radius: 16px 16px 0 0;
}

.featured-title {
    text-align: center;
    margin-bottom: 48px;
}

.episode-time {
    font-size: 17px;
    color: #00FF88;
    padding-left: 10px;


}

.time-sec {

    display: flex;
    align-items: center;

}

.profile-section {

    margin-top: 50px;
    padding-bottom: 20px;
    justify-items: center;

}

.host-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;

    background-color: #250D44;
    padding: 40px;
    margin-top: 80px;
    border-radius: 16px;

}

.host-img {
    height: 220px;
    width: 220px;
}

.host-text {
    font-weight: 700;
    font-size: 32px;
    color: white;
    margin: 0 0 16px 0;
}

.host-info {
    align-items: center;
}

.icon-div {
    display: flex;
    gap: 8px;
}

.icon {

    padding: 8px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 16px;
    height: 16px;
}

.footer-container {

    position: relative;
    justify-items: center;


    background-image: url(assets/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    width: 100%;

}

.footer-items {
    font-size: 14px;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0;


}

.footer-icon {
    display: flex;
    gap: 20px;
    padding: 15px;
}

.footer-img {
    padding-bottom: 20px;
    padding-right: 15px;
}

.icon-name {
    display: flex;
    align-items: center;
    justify-items: center;
    padding-right: 20px;
    margin-top: 0%;


}

.footer-name-text {
    font-size: 80px;
}

@media(max-width:576px) {

    .nav-container {
        padding: 24px 30px;
    }

    .nav-text {
        display: none;
    }

    .circle-img {
        width: 200px;
        height: 200px;
    }

    .overlay-img {
        width: auto;
        height: 80px;
    }

    .hero {
        padding: 0px 0;
    }

    .hero-img-container {
        padding-top: 100px;
    }

    .new-text {
        right: 0;
        font-size: 14px;
    }

    .about-section {

        padding-left: 40px;
        padding-right: 40px;

    }

    .num-container {

        grid-template-columns: repeat(2, 1fr);

    }

    .grid-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, auto);
        padding: 0 40px;

    }

    .first-layout,
    .double-layout,
    .lower-layout {
        grid-column: span 1;
    }

    .why-choose-container {
        padding: 40px;
    }

    .tech-text {
        text-align: center;
        font-size: 32px;
    }

    .video-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .featured-section {
        padding: 40px;
    }

    .host-container {
        flex-direction: column;
        text-align: center;
    }

    .icon-div {
        justify-content: center;
    }

    .footer-icon {
        flex-wrap: wrap;
        padding: 0 40px;
        justify-content: center;
        gap: 8px 32px;
    }

    .footer-container {
        background-image: url(assets/footer-bg-mobile.svg);

    }

    .footer-items {
        padding: 40px 0;
    }

    .footer-name-text {
        font-size: 64px;
    }


}