body {
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
    background-color: #1A0B2E;
    height: 5000px;

}



/* Nav section */

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding-left: 200px;
    padding-right: 200px;
    border-bottom: 1px solid rgb(158, 28, 178);

}

.name-text {
    font-weight: bolder;
    font-size: 40px;
    color: #ffff;
    border: 1px solid black;
}

.wave-text {
    font-weight: bolder;
    background: linear-gradient(7deg, #F7E93F, #FB09B4, #9100F8);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;


}

.nav-text {
    font-size: 20px;
    display: flex;
    gap: 90px;
    color: #ffff;


}

.nav-btn,
.spotify-btn,
.subscribe-btn {
    border: none;
    color: #ffff;
    font-size: 17px;
    padding: 12px 28px;
    border-radius: 22px;
    background: linear-gradient(35deg,
            #F7E93F, #FB09B4, #9100F8);




}

/* nav section */

.banner-img {
    width: 100%;

}

.circle-img {
    position: relative;
    object-fit: cover;
    z-index: 1;


}

.overlay-img {
    position: absolute;
    z-index: 2;





}

.banner {

    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;



}

.hero {
    position: absolute;
    padding-top: 70px;

}

.banner-btn {


    gap: 25px;
    display: flex;
    align-items: center;
    justify-content: center;



}

.tech-text {
    font-size: 60px;
    color: #ffff;
    font-weight: bolder;
    margin-bottom: 0%;
}

.easy-text {
    font-size: 16px;
    color: #ffff;
    margin-top: 0%;
    margin-bottom: 20px;
}

.spotify-btn {
    display: flex;
    gap: 9px;
}

.subscribe-btn {
    background: transparent;
    border: 1px solid #00FF88;
    color: #00FF88;
    display: flex;
    gap: 9px;
}

.info-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 70px;
}


/* .about-container, */
.about-section {
    margin-bottom: 50px;
    align-items: center;
    padding-right: 190px;
    padding-left: 190px;

}

.num-container {
    border-top: 2px solid rgb(14, 14, 15);

    display: flex;
    justify-content: space-evenly;
    width: 100%;


}


.number {
    font-size: 40px;
    color: #00ff88;
    font-weight: bolder;


    margin-bottom: 5px;
    padding-top: 60px;

}


.why-choose-container {
    padding: 200px 150px 200px 150px;
    background-color: #230E3D;


}

.layout-text {
    justify-items: center;
    margin-bottom: 60px;
}



.grid-text {
    color: #ffff;
    font-size: 24px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 200px);
    grid-auto-rows: 200px;
    gap: 30px;
    margin-top: 20px;
}

.card {
    color: aliceblue;
    border-radius: 20px;
    padding: 25px;
    background: #2b0f4a;

}


.first-layout {
    grid-row: span 2;

}

.double-layout {
    grid-column: span 2;

}


.lower-layout {
    grid-column: span 2;
}

.featured-section {
    padding: 200px 120px 200px 120px;
    background-color: #00ff88;
}