body {
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
    background-color: #1A0B2E;

}


.container {
    padding-left: 200px;
    padding-right: 200px;
}



.nav-container {

    display: flex;
    justify-content: space-between;

    align-items: center;

}

.name-text {
    font-weight: bolder;
    font-size: 40px;
    color: #ffff;
    border: 1px solid black;
}

.wave-text {
    font-weight: bolder;
    background: linear-gradient(7deg, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;


}

.nav-text {
    font-size: 20px;
    display: flex;
    gap: 90px;
    color: #ffff;


}

.nav-btn {
    border: none;
    color: #ffff;
    font-size: 17px;
    padding: 12px 28px;
    border-radius: 22px;
    background: linear-gradient(35deg,
            #F7E93F, #FB09B4, #9100F8);



}